{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h2 class="text-center">Mon Compte</h2>

            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>Prénom: {{ user.prenom }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <a href="{{ path('fos_user_profile_edit') }}"><button class="btn btn-warning" type="button">
                    <span class="glyphicon glyphicon-pencil"></span> Edition de votre profil : {{ app.user.username }}</button>
                </a>

            </div>
        </div>
    </div>
</div>